@import '../styles/CommonStyles.scss';

.ticket-escalations-container {
  .ticket-escalations-title {
    @extend .font-subtitle;
    margin: 2.5em 0;
  }

  .show-more {
    color: #0056cf;
    margin: 0.7em;
    font-weight: bold;
    font-size: 1.2em;
  }

  .pb_layout_kit_kanban .layout_body {
    height: auto !important;
  }
}
