@import '../../styles/CommonStyles.scss';

.kpi-device-container {
  padding: 0;

  .kpi-metric-color-up {
    color: #2fd48e;
  }

  .kpi-metric-color-down {
    color: #ff4b51;
  }

  .arrow-icon {
    margin-right: 0.5em;
  }
}
