@import '../../styles/CommonStyles.scss';

.percentage-chart-device {
  margin: 0;
  width: 100%;
  height: 4em;

  .percentage-chart-bar-container {
    width: 55%;
  }

  .percentage-chart-bar {
    border-bottom: 8px solid #0056cf;
    border-radius: 28px;
  }

  .percentage-chart-title {
    @extend .font-subtitle;
    margin-left: 1em;
    font-size: 0.9em;
  }

  .percentage-chart-label {
    padding-left: 1em;
    font-size: 0.9em;
    font-weight: $lighter;
  }

  .percentage-chart-count {
    font-size: 1.2em;
  }
}
