@import '../../styles/CommonStyles.scss';

.ticket-escalations-header {
  @extend .border-highlight-left;
  height: 6em;
}

.ticket-escalations-header-badge {
  height: 28px !important;
  padding: 8px !important;
}

.ticket-escalations-header-badge span {
  font-size: 1.4em !important;
  padding: 8px !important;
}

.device-container {
  @extend .border-thin-around;
  @extend .white;
  @extend .border-rounded;
}
