@import '../../styles/CommonStyles.scss';

.ticket-escalations-device-container {
  .ticket-escalations-header {
    @extend .border-highlight-left;
    height: 6em;
  }

  .ticket-escalations-header-badge {
    height: 28px;
    padding: 8px;
  }

  .ticket-escalations-header-badge span {
    font-size: 1.4em;
    padding: 8px;
  }

  .border-color-info {
    border-color: #00c4d7;
  }

  .border-color-primary {
    border-color: #0056cf;
  }

  .border-color-warning {
    border-color: #c69500;
  }

  .border-color-error {
    border-color: #da0014;
  }

  .border-color-success {
    border-color: #157f48;
  }
}
