/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Playbook App Configuration for Font Family
$font_family_base: 'Montserrat';

// Enabled Weights in Montserat
$lighter: 200;
$light: 300;
$regular: 500;
$bold: 700;
$bolder: 700;
$boldest: 700;
$extrabold: 700;

// Colors
$background-blue: #f2f6fa;

body {
  height: 100vh;
}

.fill-height {
  height: 100%;
}

.dashboard-background {
  background: $background-blue;
}

.dashboard-title-container {
  padding-top: 2.5em;
  margin-bottom: 1em;
}

.dashboard-title {
  font-weight: $lighter !important;
  font-size: 2.1em !important;
}

.dashboard-subtitle {
  @extend .font-subtitle;
  @extend .gray;
  margin-bottom: 0.4em !important;
  font-size: 2.2em !important;
}

.kpi-title-container {
  @extend .border-thin-bottom;
  height: 4em;
}

.kpi-title-content-container {
  margin-top: 0.75em;
  padding: 0 1em;
}

.kpi-graph-container {
  padding-top: 3em;
}

.kpi-nav-item {
  // height: 5em;
}

.kpi-title {
  font-size: 0.9em !important;
}

.kpi-metric-color-up {
  color: #2fd48e;
}

.kpi-metric-color-down {
  color: #ff4b51;
}

.kpi-nav-items-container {
  @extend .border-thin-right;
  padding-right: 0 !important;
}

.ticket-escalations-header {
  @extend .border-highlight-left;
  height: 6em;
}

.ticket-escalations-header-badge {
  height: 28px !important;
  padding: 8px !important;
}

.ticket-escalations-header-badge span {
  font-size: 1.4em !important;
  padding: 8px !important;
}

.white {
  background: #ffffff !important;
}

.gray {
  color: gray;
}

.black {
  color: black;
}

.device-container {
  @extend .border-thin-around;
  @extend .white;
  @extend .border-rounded;
}

.border-rounded {
  border-radius: 6px;
}

.border-thin-around {
  border: 1px solid #e4e8f0;
}

.border-thin-bottom {
  border-bottom: 1px solid #e4e8f0;
}

.border-thin-top {
  border-top: 1px solid #e4e8f0;
}

.border-thin-right {
  border-right: 1px solid #e4e8f0;
}

.border-highlight-left {
  border-left: 4px solid var(--bs-gray);
}

.border-color-info {
  border-color: #00c4d7;
}

.border-color-primary {
  border-color: #0056cf;
}

.border-color-warning {
  border-color: #c69500;
}

.border-color-error {
  border-color: #da0014;
}

.border-color-success {
  border-color: #157f48;
}

// TODO: Use specificity over important

.font-light {
  font-weight: $light !important;
}

.font-smaller {
  font-size: 0.95em !important;
}

.font-subtitle {
  font-weight: $lighter !important;
  font-size: 0.8em !important;
  line-height: 0em !important;
}

.icon-xs {
  font-size: 0.75em;
  margin: -1em;
}

.ticket-escalations-title {
  @extend .font-subtitle;
  margin: 2.5em 0 !important;
}

.ticket-escalations-device-container {
  @extend .device-container;
  width: 130%;
}

// NOTE: This is admittedly hacky, but effective for now
.ticket-escalation-list-item .pb_title_kit_size_4 {
  display: none;
}

.ticket-escalations-footer {
  @extend .border-thin-top;
}

.show-more {
  color: #0056cf;
  margin: 0.7em;
  font-weight: bold;
  font-size: 1.2em;
}

.percentage-chart-bar-container {
  width: 55%;
}

.percentage-chart-bar {
  border-bottom: 8px solid #0056cf;
  border-radius: 28px;
}

.percentage-chart-title {
  @extend .font-subtitle;
  margin-left: 1em;
  font-size: 0.9em !important;
}

.percentage-chart-label {
  padding-left: 1em;
  font-size: 0.9em;
  font-weight: $lighter !important;
}

.percentage-chart-device {
  margin: 0 !important;
  width: 100%;
  height: 4em;
}

.percentage-chart-count {
  font-size: 1.2em;
}

.pipeline-chart-header {
  @extend .border-thin-bottom;
  font-weight: bold;
  height: 5em;
  padding-left: 2em;
}

@import 'reset';
@import 'playbook';
